<article>
  <div class="postit">
    <dl>
      <dt>Normales Zimmer</dt>
      <dd>12m<sup>2</sup> für 218,65 € monatlich</dd>
      <dt>Normales Zimmer im Anbau</dt>
      <dd>14m<sup>2</sup> für 230,45 € monatlich</dd>
      <dt>Großes Zimmer</dt>
      <dd>22m<sup>2</sup> für 253,80 € monatlich</dd>
      <dt>Großes Zimmer im Anbau</dt>
      <dd>18m<sup>2</sup> für 260,80 € monatlich</dd>
    </dl>
    <img class="background" src="/images/postit.png" alt="Postit" />
  </div>
  <p>
    Jedem Bewohner des HEK wird ein <a href="#grundausstattung">möbliertes Einzelzimmer</a> zur Verfügung gestellt. Dieses hat im Normalfall eine Grundfläche von 12m<sup>2</sup>. Auf jeder Etage gibt es 22 Zimmer, davon 4 größere, deren Belegung meist etagenintern geregelt wird.
  </p>
  <p>
    Von großem Vorteil ist die kostenlose Nutzung von Internet und Fernsehen im eigenen Zimmer. Das vorhandene Telefon ist ohne Grundgebühr nutzbar, die Möglichkeit der VoIP-Telefonie hält die Kosten für den Bewohner bzw. die Bewohnerin relativ gering.
  </p>
  <img id="grundausstattung" src="/images/bewohnerzimmer/grundausstattung.jpg" alt="Grundausstattung eines Zimmers" />
  <ul class="many">
    <li><a href="#foto1"><img src="/images/bewohnerzimmer/1.jpg" /></a></li>
    <li><a href="#foto2"><img src="/images/bewohnerzimmer/2.jpg" /></a></li>
    <li><a href="#foto3"><img src="/images/bewohnerzimmer/3.jpg" /></a></li>
    <li><a href="#foto4"><img src="/images/bewohnerzimmer/4.jpg" /></a></li>
    <li><a href="#foto5"><img src="/images/bewohnerzimmer/5.jpg" /></a></li>
    <li><a href="#foto6"><img src="/images/bewohnerzimmer/6.jpg" /></a></li>
    <li><a href="#foto7"><img src="/images/bewohnerzimmer/7.jpg" /></a></li>
    <li><a href="#foto8"><img src="/images/bewohnerzimmer/8.jpg" /></a></li>
  </ul>
  <div class="swap-view">
    <ol>
      <li id="foto1"><img src="/images/bewohnerzimmer/1.jpg" /></li>
      <li id="foto2"><img src="/images/bewohnerzimmer/2.jpg" /></li>
      <li id="foto3"><img src="/images/bewohnerzimmer/3.jpg" /></li>
      <li id="foto4"><img src="/images/bewohnerzimmer/4.jpg" /></li>
      <li id="foto5"><img src="/images/bewohnerzimmer/5.jpg" /></li>
      <li id="foto6"><img src="/images/bewohnerzimmer/6.jpg" /></li>
      <li id="foto7"><img src="/images/bewohnerzimmer/7.jpg" /></li>
      <li id="foto8"><img src="/images/bewohnerzimmer/8.jpg" /></li>
      <li id="foto9"><img src="/images/bewohnerzimmer/9.jpg" /></li>
      <li id="foto10"><img src="/images/bewohnerzimmer/10.jpg" /></li>
    </ol>
  </div>
  <ul class="few">
    <li><a href="#foto9"><img src="/images/bewohnerzimmer/9.jpg" /></a></li>
    <li><a href="#foto10"><img src="/images/bewohnerzimmer/10.jpg" /></a></li>
  </ul>
</article>
