<article>
  <div class="postit">
    <dl>
      <dt>Im Wohnheim</dt>
      <dd>7 Etagen</dd>
      <dd>147 Zimmer</dd>
      <dt>Auf einer Etage</dt>
      <dd>3 Gänge</dd>
      <dd>16 bis 22 Zimmer</dd>
      <dd>1 große, super ausgestattete Küche</dd>
      <dd>1 selbstgestalteter Etagenraum</dd>
      <dt>In einem Gang</dt>
      <dd>6 bis 10 Zimmer</dd>
      <dd>1 Dusche</dd>
      <dd>1 oder 2 WCs</dd>
    </dl>
    <img class="background" src="/images/postit.png" alt="Postit" />
  </div>
  <p>
    Da uns das Miteinander auf den Etagen sehr wichtig ist, gibt es gemeinschaftlich genutzte Küchen und Etagenräume. In den Küchen findet man neben Elektrogeräten wie Kühl- und Gefrierschränken, Herd, Backofen, Mikrowelle und Spülmaschine auch alles, was man zum Kochen und Backen noch so braucht. Auch Geschirr und Besteck sind vorhanden und werden gemeinsam benutzt.
  </p>
  <p>
    Die Etagenräume sind &#8212; wie auch die Küchen &#8212; von den Studenten selbst gestaltet. Vorhanden sind gemütliche Sitzgelegenheiten und ein Fernseher. Gemeinsamen Spiele- oder Filmeabenden steht also nichts im Wege!
  </p>
  <p>
    Die sanitären Anlagen (WC und Dusche) befinden sich auf dem Flur und werden von 6&#8211;10 Personen gemeinsam benutzt.
  </p>
  <figure>
    <img src="/images/grundriss-etage.jpg" alt="Grundriss einer Etage" />
    <figcaption>
      <ol>
        <li id="kueche">Küche</li>
        <li id="etagenraum">Etagenraum</li>
        <li id="dusche">Dusche</li>
        <li id="wc">WC</li>
        <li id="dusche-anbau">Dusche (Anbau)</li>
        <li id="wc-anbau">WC (Anbau)</li>
        <li id="grosses-zimmer">Großes Zimmer</li>
        <li id="kleines-zimmer">Kleines Zimmer</li>
        <li id="grosses-zimmer-anbau">Großes Zimmer (Anbau)</li>
        <li id="normales-zimmer-anbau">Normales Zimmer (Anbau)</li>
      </ol>
    </figcaption>
  </figure>
</article>
