<% page_title 'Gemeinschaftsräume' %>
<article id="kueche">
  <h2>Küche</h2>
  <img src="/images/gemeinschaftsraeume/kueche.jpg" alt="Küche" />
  <aside>
    <p>
      In den Küchen findet man neben Elektrogeräten wie Kühl- und Gefrierschränken, Herd, Backofen, Mikrowelle und Spülmaschine auch alles, was man zum Kochen und Backen noch so braucht. Auch Geschirr und Besteck sind vorhanden und werden gemeinsam benutzt.
    </p>
  </aside>
</article>
<article id="etagenraum">
  <h2>Etagenraum</h2>
  <img src="/images/gemeinschaftsraeume/etagenraum.jpg" alt="Etagenraum" />
  <aside>
    <p>
      Die Etagenräume sind &ndash; wie auch die Küchen &ndash; von den Studenten selbst gestaltet. Vorhanden sind gemütliche Sitzgelegenheiten und ein Fernseher. Gemeinsamen Spiele- oder Filmeabenden steht also nichts im Wege!
    </p>
  </aside>
</article>
<article id="sanitaere-anlagen">
  <h2>Sanitäre Anlagen</h2>
  <img src="/images/gemeinschaftsraeume/sanitaere-anlagen.jpg" alt="Sanitäre Anlagen" />
  <aside>
    <p>
      Die sanitären Anlagen (WC und Dusche) befinden sich auf dem Flur und werden von 6-10 Personen gemeinsam benutzt.
    </p>
  </aside>
</article>
<article id="bar">
  <h2>Bar</h2>
  <img src="/images/gemeinschaftsraeume/bar.jpg" alt="Bar" />
  <div class="postit">
    <dl>
      <dt>Barabend</dt>
      <dd>Jeden Donnerstag ab 21:30 Uhr</dd>
      <dd>Cocktails, Longdrinks, Bier</dd>
      <dd>und wechselnde Specials</dd>
    </dl>
    <img class="background" src="/images/postit.png" alt="Postit" />
  </div>
  <aside>
    <p>
      Hier findet man den Tischkicker, eine Tischtennisplatte und es gibt die Möglichkeit, Gesellschaftsspiele auszuleihen. Für private Veranstaltungen von Bewohnern kann die Bar gerne genutzt werden.
    </p>
  </aside>
</article>
<article id="musik-und-beamerraum">
  <h2>Musik- und Beamerraum</h2>
  <img src="/images/gemeinschaftsraeume/musik-und-beamerraum.jpg" alt="Musik- und Beamerraum" />
  <aside>
    <p>
      Durch die angebrachte Dämmung kann hier auf eigenen Musikinstrumenten oder dem hauseigenen Klavier geübt werden, ohne die Mitbewohner zu stören. Ein Multimedia-Center mit Beamer und Leinwand, sowie die bequemen Sofas lassen echtes Kino-Feeling aufkommen. Fehlt nur noch das Popcorn!
    </p>
  </aside>
</article>
<article id="saal">
  <h2>Saal</h2>
  <img src="/images/gemeinschaftsraeume/saal.jpg" alt="Saal" />
  <aside>
    <p>
      Mit Panoramablick von ganz oben kann man hier lernen, feiern oder auch Billard spielen. Der vor Kurzem angeschaffte Flügel ist ebenfalls hier zu finden.
    </p>
  </aside>
</article>
<article id="dachterrasse">
  <h2>Dachterrasse</h2>
  <img src="/images/gemeinschaftsraeume/dachterrasse.jpg" alt="Dachterrasse" />
  <aside>
    <p>
      Hier kann man grillen, Open-Air-Filmeabende veranstalten oder auch einfach nur das Wetter und den schönen Blick auf das Grün des direkt anschließenden Schlossparks genießen.
    </p>
  </aside>
</article>
<article id="waschkueche">
  <h2>Waschküche</h2>
  <img src="/images/gemeinschaftsraeume/waschkueche.jpg" alt="Waschküche" />
  <aside>
    <p>
      Wischi, Waschi und Woschi kümmern sich liebevoll um die Wäsche der Bewohner. Wenn gewünscht, kommt auch der Trockner zum Einsatz. Genügend Wäscheleinen gibt es im großen Trockenraum.
    </p>
  </aside>
</article>
<article id="kopierraum">
  <h2>Kopierraum</h2>
  <img src="/images/gemeinschaftsraeume/kopierraum.jpg" alt="Kopierraum" />
  <aside>
    <p>
      Hier kann man kopieren, scannen und auch vom Zimmer aus ausdrucken. Wer Zubehör wie z.B. Bindungen benötigt, kann dieses direkt im Haus erwerben. Das erspart den Gang zum Copyshop.
    </p>
  </aside>
</article>
<article id="elektronikwerkstatt">
  <h2>Elektronikwerkstatt</h2>
  <img src="/images/gemeinschaftsraeume/elektronikwerkstatt.jpg" alt="Elektronikwerkstatt" />
  <aside>
    <p>
      Funktionsgeneratoren, Lötkolben, stabilisierte Netzteile, Zweistrahloszilloskope, Werkzeug aller Art und eine Dunkelkammerausrüstung lassen das Tüftlerherz höher schlagen.
    </p>
  </aside>
</article>
<article id="sportschrank">
  <h2>Sportschrank</h2>
  <img src="/images/gemeinschaftsraeume/sportschrank.jpg" alt="Sportschrank" />
  <aside>
    <p>
      Fußball, Frisbee, Kubb <abbr title="und">&amp;</abbr> Co. machen Laune auf schöne Stunden auf der Wiese vor dem Haus oder im angrenzenden Schlosspark.
    </p>
  </aside>
</article>
<article id="parkplatz">
  <h2>Parkplatz</h2>
  <img src="/images/gemeinschaftsraeume/parkplatz.jpg" alt="Parkplatz" />
  <aside>
    <p>
      An den studentischen Fuhrpark ist natürlich auch gedacht. Direkt am Haus gibt es ausreichend Stellplätze.
    </p>
  </aside>
</article>
<article id="fahrradkaefig">
  <h2>Fahrradkäfig</h2>
  <img src="/images/gemeinschaftsraeume/fahrradkaefig.jpg" alt="Fahrradkäfig" />
  <aside>
    <p>
      Hier können alle Drahtesel sicher geparkt werden. So sind sie bei Wind und Wetter geschützt.
    </p>
  </aside>
</article>
<article id="fahrradwerkstatt">
  <h2>Fahrradwerkstatt</h2>
  <img src="/images/gemeinschaftsraeume/fahrradwerkstatt.jpg" alt="Fahrradwerkstatt" />
  <aside>
    <p>
      Hier findet man alles nötige Werkzeug und kann auch Ersatzteile erwerben. Ein praktischer Montageständer erleichtert das Herumschrauben.
    </p>
  </aside>
</article>
<article id="aufzug">
  <h2>Aufzug</h2>
  <img src="/images/gemeinschaftsraeume/aufzug.jpg" alt="Aufzug" />
  <aside>
    <p>
      Er erleichtert wohl vor allem am Umzug oder bei schweren Einkäufen das Leben der Bewohner.
    </p>
  </aside>
</article>
<aside>
  <nav>
    <div>
      <a class="previous" style="display: none">&lsaquo;</a>
      <a href="#kueche">Küche</a>
      <a href="#etagenraum">Etagenraum</a>
      <a href="#sanitaere-anlagen">Sanitäre Anlagen</a>
      <a href="#bar">Bar</a>
      <a href="#musik-und-beamerraum">Musik- und Beamerraum</a>
      <a href="#saal">Saal</a>
      <a href="#dachterrasse">Dachterrasse</a>
      <a href="#waschkueche">Waschküche</a>
    </div>
    <div>
      <a href="#kopierraum">Kopierraum</a>
      <a href="#elektronikwerkstatt">Elektronikwerkstatt</a>
      <a href="#sportschrank">Sportschrank</a>
      <a href="#parkplatz">Parkplatz</a>
      <a href="#fahrradkaefig">Fahrradkäfig</a>
      <a href="#fahrradwerkstatt">Fahrradwerkstatt</a>
      <a href="#aufzug">Aufzug</a>
      <a class="next" style="display: none">&rsaquo;</a>
    </div>
  </nav>
</aside>
