<% page_title 'Geschichte' %>
<article id="jahr-1959">
  <p>
    Am 20.03. wird ein Verein gegründet mit dem Ziel, ein Wohnheim zu bauen und zu unterhalten. Es beginnt die Standortsuche, zunächst ins Auge gefasst wird ein Bauplatz am Mühlburger Tor.
  </p>
  <h2>1959</h2>
  <h3>Vereinsgründung</h3>
  <img src="" alt="" />
</article>
<article id="jahr-1960">
  <p>
    Der evangelischen Kirche wird ein Grundstück im Hardtwald zur Verfügung gestellt. Entwurf, Planung und Bau des Hermann-Ehlers-Kollegs können also beginnen.
  </p>
  <h2>1960</h2>
  <h3>Baubeginn</h3>
  <img src="/images/geschichte/1960-baustelle.jpg" alt="Hermann-Ehlers-Kolleg im Aufbau" />
</article>
<article id="jahr-1963">
  <p>
    Im Mai ziehen die ersten Studenten ein und mit ihnen das erste Heimleiterehepaar Elisabeth und Prof. Dr. Gotthard Teutsch sowie das erste Hausmeisterehepaar Erna und Gerhard Dietrich.
  </p>
  <p>
    Damals gelten noch recht strenge Regeln: Nachtruhe ist von 22.00 - 7.00 Uhr und Besuch mit Übernachtung ist verboten. Studentinnen wohnen ausschließlich im 6.OG. Jede Etage ist mit einem einzigen Kühlschrank ausgestattet und im EG gibt es ein Telefon für alle Bewohner.
  </p>
  <h2>1963</h2>
  <h3>Einweihung <abbr title="und">&amp;</abbr> Strenge Regeln</h3>
  <img src="/images/geschichte/1963-hausmeisterehepaar-erna-und-gerhard-dietrich.jpg" alt="Hausmeisterehepaar Erna und Gerhard Dietrich" />
</article>
<article id="jahr-1966">
  <p>
    Die Nachfolge des Heimleiters tritt Prof. Dr. Backhaus an.
  </p>
  <h2>1966</h2>
  <h3>Heimleiterwechsel</h3>
  <img src="/images/geschichte/1966-heimleiter-backhaus-mit-frau.jpg" alt="Heimleiter Prof. Dr. Backhaus mit Frau" />
</article>
<article id="jahr-1967">
  <p>
    Im Rahmen des Kellerausbaues wurde eine Bar eingerichtet und wird nun feierlich eröffnet. Die Alternative zur Bar wäre eine Kapelle gewesen.
  </p>
  <h2>1967</h2>
  <h3>Bareinweihung</h3>
  <img src="" alt="" />
</article>
<article id="jahr-1968">
  <p>
    Der erste Fernseher im Haus wird 1968 angeschafft.
  </p>
  <h2>1968</h2>
  <h3>Erster Fernseher</h3>
  <img src="" alt="" />
</article>
<article id="jahr-1971">
  <p>
    Dipl.-Ing. Walter Hof wird zum 1. Vorsitzenden des Vereins gewählt.
  </p>
  <h2>1971</h2>
  <h3>Vereinsvorsitz</h3>
  <img src="" alt="" />
</article>
<article id="jahr-1973">
  <p>
    Ein neues Hausmeisterehepaar zieht ins HEK ein: Helga und Josef „Jupp“ Strobach.
  </p>
  <p>
    Im selben Jahr wird die Geschlechtertrennung für die Etagen aufgehoben. Zitat Frau Strobach: „Der Verkehr wurde im Treppenhaus einfach zu groß, da hat man das aufgegeben.“
  </p>
  <h2>1973</h2>
  <h3>Hausmeisterwechsel <abbr title="und">&amp;</abbr> Aufhebung der Geschlechtertrennung</h3>
  <img src="" alt="" />
</article>
<article id="jahr-1983">
  <p>
    Im Keller gibt es Wannenbäder für die Studentinnen und Studenten. Außerdem muss man sich bei einer Abwesenheit über einer Woche beim Hausmeister abmelden.
  </p>
  <h2>1983</h2>
  <h3>Stand der Technik</h3>
  <img src="" alt="" />
</article>
<article id="jahr-1984">
  <p>
    Im September bezieht Pfarrer Manfred Zilly mit seiner Familie die Heimleiterwohnung im Obergeschoss des HEK.
  </p>
  <p>
    Im Oktober findet ein Festakt zum 80. Geburtstag und 30. Todestag von Hermann Ehlers statt. Festredner ist Prof. Dr. Roman Herzog, damaliger Vizepräsident des BVG und späterer Bundespräsident.
  </p>
  <h2>1984</h2>
  <h3>Heimleiterwechsel <abbr title="und">&amp;</abbr> Festakt für Hermann Ehlers</h3>
  <img src="/images/geschichte/1984-uebergabe-des-heimleiteramts-von-backhaus-nach-zilly.jpg" alt="Übergabe des Heimleiteramts von Prof. Dr. Backhaus an Manfred Zilly" />
</article>
<article id="jahr-1987">
  <p>
    Der 1. Vorsitzende des Vereins Walter Hof wird für seine Arbeit im HEK mit der Verdienstmedaille des Verdienstordens der Bundesrepublik ausgezeichnet.
  </p>
  <h2>1987</h2>
  <h3>Auszeichnung von Herrn Hof</h3>
  <img src="" alt="" />
</article>
<article id="jahr-1991">
  <p>
    Der Anbau und damit 26 neue Bewohnerzimmer werden eingeweiht. Auch die Küchen wurden vergrößert und bieten jetzt Platz für eine große Essecke.
  </p>
  <h2>1991</h2>
  <h3>Anbau</h3>
  <img src="" alt="" />
</article>
<article id="jahr-1997">
  <p>
    Es finden verschiedene Maßnahmen statt, wie die farbliche Umgestaltung der Fassade und Dämmung des HEK, Warmwasserversorgung für alle Zimmer, Verstärkung der elektrischen Leitungen, Erneuerung der Küchenböden und Sanierung der sanitären Anlagen. Jedes Zimmer bekommt einen Telefon- und Internetanschluss.
  </p>
  <h2>1997 - 2003</h2>
  <h3>Renovierung</h3>
  <img src="" alt="" />
</article>
<article id="jahr-2001">
  <p>
    Nach 30 Jahren Engagement wird der 1. Vorsitzende Walter Hof verabschiedet. Seine Nachfolge tritt Gerd Hurst an.
  </p>
  <h2>2001</h2>
  <h3>Vereinsvorsitz</h3>
  <img src="/images/geschichte/2001-verabschiedung-von-walter-hof.jpg" alt="Verabschiedung des 1. Vorsitzenden Walter Hof" />
</article>
<article id="jahr-2003">
  <p>
    Das Hausmeisterehepaar Strobach verabschiedet sich in den wohlverdienten Ruhestand. Die Suche nach würdigen Nachfolgern endet mit Erfolg: Martina und Günther Knöppel ziehen in das HEK und übernehmen die Aufgaben.
  </p>
  <p>
    Zum 40. Geburtstag des Hermann-Ehlers-Kollegs findet am 18.11. ein großer Festakt statt und eine Festschrift wird veröffentlicht. Festredner ist Landesbischof Dr. Ulrich Fischer, außerdem erzählen ehemalige Bewohner von ihrer Zeit im HEK.
  </p>
  <h2>2003</h2>
  <h3>Hausmeisterwechsel <abbr title="und">&amp;</abbr> 40 Jahre HEK</h3>
  <img src="/images/geschichte/2003-hausmeisterwechsel.jpg" alt="Hausmeisterehepaar Strobach übergibt ihr Amt an Familie Knöppel" />
</article>
<article id="jahr-2005">
  <p>
    Die sanitären Anlagen werden modernisiert.
  </p>
  <h2>2005</h2>
  <h3>Renovierungsarbeiten</h3>
  <img src="" alt="" />
</article>
<article id="jahr-2008">
  <p>
    Die neue Dachterrasse wird eingeweiht und lädt ab jetzt zum Sonnenbaden, Grillen und Chillen ein.
  </p>
  <h2>2008</h2>
  <h3>Dachterrasse</h3>
  <img src="/images/geschichte/2008-dachterrasse.jpg" alt="Grundsteinsetzung zum Bau der neuen Dachterrasse" />
</article>
<article id="jahr-2009">
  <p>
    Das mit den benachbarten Wohnheimen ausgerichtete Fest ist zum 30. Mal eine tolle Sommerparty.
  </p>
  <h2>2009</h2>
  <h3>30. Parkplatzfest</h3>
  <img src="/images/geschichte/2009-30-Parkplatzfest.jpg" alt="Die Zahl 30 durch Beleuchtung der Wohnheimfenster" />
</article>
<article id="jahr-2010">
  <p>
    Unser Heimleiter Manfred Zilly feiert sein „70jähriges Dienstjubiläum“ und seinen „25. Geburtstag“ in der Bar. ;)
  </p>
  <h2>2010</h2>
  <h3>Jubiläen</h3>
  <img src="" alt="" />
</article>
<aside style="display: none">
  <nav>
    <a class="previous">&lsaquo;</a>
    <a class="next">&rsaquo;</a>
  </nav>
</aside>
<div id="zeitstrahl" />
