<% provide :title, 'Hermann-Ehlers' %>  
<article id="leben">
    <img src="/images/hermann-ehlers.png" alt="Hermann Ehlers">
    <section>
      <h2>Geburt</h2>
      <p>
        Der Namensgeber unseres Wohnheims wurde am 1. Oktober 1904 in Berlin geboren. Er gehörte zu den führenden Persönlichkeiten während des Aufbaus der jungen Bundesrepublik, indem er geistige Grundlagen und verfassungsrechtliche Strukturen entscheidend mitgestaltete.
      </p>
      <aside>
        <img src="/images/hermann-ehlers/geburt.png" alt="" />
        <small>1. Oktober</small> 1904
      </aside>
    </section>
    <section>
      <h2>Studium</h2>
      <p>
        Nach dem Abitur studierte Hermann Ehlers Rechts- und Staatswissenschaften an den Universitäten Berlin und Bonn.
      </p>
      <aside>
        <img src="/images/hermann-ehlers/studium.png" alt="" />
        1924
      </aside>
    </section>
    <section>
      <h2>Christ</h2>
      <p>
        Als engagierter Christ und tätiges Mitglied seiner Gemeinde bemühte er sich um das ökumenische Gespräch und suchte auch in der Politik die Zusammenarbeit der beiden großen Konfessionen. Er unterstützte das evangelisch-christliche Streben in der CDU/CSU.
      </p>
      <aside>
        <img src="/images/hermann-ehlers/christ.png" alt="" />
        1930
      </aside>
    </section>
    <section>
      <h2>Bundestag</h2>
      <p>
        1949 wurde Ehlers Abgeordneter des ersten Deutsche Bundestag. Ein Jahr später wurde er zum Präsident des Deutschen Bundestages gewählt. In diesem Amt prägte er den Verfahrensstil des Parlaments, und verschaffte diesem u.a. durch die Einführung von Rundfunk-Direktübertragungen wichtiger Debatten Popularität in der Bevölkerung.
      </p>
      <aside>
        <img src="/images/hermann-ehlers/bundestag.png" alt="" />
        1949
      </aside>
    </section>
    <section>
      <h2>Tod</h2>
      <p>
        Sein plötzlicher Tod am 29. Oktober 1954 wurde von Vertretern aller politischen Richtungen als ein unersetzlicher Verlust für das ganze deutsche Volk bezeichnet.
      </p>
      <aside>
        <img src="/images/hermann-ehlers/tod.png" alt="" />
        <small>29. Oktober</small> 1954
      </aside>
    </section>
  </article>
</div>
<div id="nachlass">
  <article class="container">
    <section>
      <h2>Verein</h2>
      <p>
        Im Jahr 1959 wurde in Karlsruhe ein Verein gegründet, mit dem Ziel, ein Studentenwohnheim zu bauen. In der ersten Sitzung beschloss man den Namen „Hermann-Ehlers-Kolleg“.
      </p>
      <aside>
        <img src="/images/hermann-ehlers/verein.png" alt="" />
        1959
      </aside>
    </section>
    <section>
      <h2>Stiftung</h2>
      <p>
        Im Gedenken an Hermann Ehlers wurde 1968 außerdem eine Stiftung ins Leben gerufen, welche fünf Studentenwohnheime und eine moderne Bildungsstätte (Hermann-Ehlers-Akademie) unterhält.
      </p>
      <aside>
        <img src="/images/hermann-ehlers/stiftung.png" alt="" />
        1968
      </aside>
    </section>
    <section>
      <h2>Auszeichnung</h2>
      <p>
        Seit 1974 gibt es den Hermann-Ehlers-Preis, welcher für besondere demokratische Leistungen vergeben wird &#8212; unter anderem wurden 1981 Dr. Gerhard Schröder und 2000 Roman Herzog ausgezeichnet.
      </p>
      <aside>
        <img src="/images/hermann-ehlers/auszeichnung.png" alt="" />
        1974
      </aside>
    </section>
  </article>
