<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Wohnheim ♣ Hermann-Ehlers-Kolleg</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/styles.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="wohnheim">
    <header>
      <nav>
        <ul role="navigation">
  <li class="wohnheim">
    <h6><a href="/wohnheim">Wohnheim</a></h6>
    <ul>
      <li><a href="/wohnheim/bewohnerzimmer">Bewohnerzimmer</a></li>
      <li><a href="/wohnheim/etagen">Etagen</a></li>
      <li><a href="/wohnheim/gemeinschaftsraeume">Gemeinschaftsräume</a></li>
    </ul>
    <ul>
      <li><a href="/wohnheim/lage">Lage</a></li>
      <li><a href="/wohnheim/geschichte">Geschichte</a></li>
      <li><a href="/wohnheim/hermann-ehlers">Hermann Ehlers</a></li>
    </ul>
  </li>
  <li class="leben">
    <h6><a href="/leben">Leben</a></h6>
    <ul>
      <li><a href="/leben/tutoriate">Tutoriate</a></li>
      <li><a href="/leben/feste">Feste</a></li>
      <li><a href="/leben/treffen">Treffen</a></li>
    </ul>
  </li>
  <li class="organisation">
    <h6><a href="/organisation">Organisation</a></h6>
    <ul>
      <li><a href="/organisation/heimleiter">Heimleiter</a></li>
      <li><a href="/organisation/traegerverein">Trägerverein</a></li>
    </ul>
    <ul>
      <li><a href="/organisation/heimselbstverwaltung">Heimselbstverwaltung</a></li>
      <li><a href="/organisation/hausmeister">Hausmeister</a></li>
    </ul>
  </li>
  <li class="bewerbung-und-kontakt">
    <h6><a href="/">Startseite</a></h6>
    <ul>
      <li><a href="/bewerbung">Bewerbung</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </li>
</ul>      </nav>
        </header>
    <div id="main" role="main">
      <div class="container"><img src="/images/wohnheim.jpg" alt="Fotograpfie des Hermann-Ehlers-Kolleg" />      </div>
    </div>
    <footer itemscope itemtype="http://schema.org/Organization">
      <div class="container">
        <a id="logo" href="/"><img src="/images/hek-logo.png" alt="Logo des Hermann-Ehlers-Kolleg" itemprop="image" /></a>
        <nav>
          <a href="http://www.hek.uni-karlsruhe.de/bilder/">Bilder</a>
          <a href="http://www.hek.uni-karlsruhe.de/hekwiki/">Wiki</a>
          <a href="/impressum">Impressum</a>
        </nav>
        <div id="anschrift">
          <ol itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <li itemprop="name">Hermann-Ehlers-Kolleg</li>
            <li itemprop="streetAddress">Willy-Andreas-Allee 1</li>
            <li><span itemprop="postalCode">76131</span> <span itemprop="addressLocality">Karlsruhe</span></li>
          </ol>
          <a href="mailto:%6c%65%69%74%75%6e%67%40%68%65%6b%2e%75%6e%69%2d%6b%61%72%6c%73%72%75%68%65%2e%64%65" itemprop="email">ed&#46;ehurslrak-inu&#46;keh&#64;gnutiel</a>
        </div>
      </div>
    </footer>
            <script src="/scripts.js"></script>
  </body>
</html>