<% provide :title, 'Heimleiter' %>
<article id="aufgaben">
  <div class="postit">
    <dl>
      <dt>Sprechstunden</dt>
      <dd>Di, 15:00 - 16:00 Uhr</dd>
      <dd>Do, 18:00 - 19:00 Uhr</dd>
      <dt>Telefon</dt>
      <dd>0721 / 8695 - 1611</dd>
      <dt>E-Mail</dt>
      <dd><%= mail_to 'heimleiter@hek.uni-karlsruhe.de', 'heimleiter@hek.uni-karlsruhe.de'.reverse, :encode => 'hex' %></dd>
    </dl>
    <img class="background" src="/images/postit.png" alt="Postit" />
  </div>
  <img src="/images/heimleiter/manfred-zilly-sitzend.jpg" alt="Heimleiter Manfred Zilly sitzend" />
  <p>
    Der Heimleiter soll über das Wohnheim wachen, sodass alle in Ruhe studieren und zugleich in einer Gemeinschaft leben können, die Gestaltungsmöglichkeiten für die Freizeit bietet und Hilfestellung gibt. Bei jeder Art von Problemen findet man hier ein offenes Ohr und seelsorgerischen Beistand.
  </p>
  <p>
    Außerdem sorgt er für die Vermietung der Zimmer, bearbeitet die Bewerbungen und sucht in Zusammenarbeit mit der Heimselbstverwaltung die Kandidaten für freiwerdende Zimmer aus.
  </p>
  <p>
    Er übt die Dienstaufsicht über alle Angestellten aus und hat das Hausrecht &#8212; kann also z.B. nächtliche Ruhestörer ermahnen und immer wieder neu an die Regeln der Hausordnung erinnern.
  </p>
  <p>
    Er hält Kontakt zum Vorstand, zu anderen Heimen, zur Verwaltung und zum Hausmeisterehepaar Knöppel.
  </p>
  <p>
    Und verfasst jedes Semester einen <a href="/documents/semesterbrief.pdf">Semesterbrief</a>.
  </p>
</article>
<article id="person">
  <img src="/images/heimleiter/manfred-zilly-beim-laufen.jpg" alt="Heimleiter Manfred Zilly läuft bei der Badischen Meile" />
  <p>
    Der Heimleiter des HEK ist Pfarrer Manfred Zilly. Er ist verheiratet und hat fünf Kinder.
  </p>
  <p>
    Seit 1984 ist er nebenberuflich Heimleiter des HEK. Im Hauptberuf Pfarrer war er bis August 2000 Religionslehrer am Lessing-Gymnasium, nachdem er Gemeinden in Brasilien und Karlsruhe geleitet hat.
  </p>
  <p>
    Außerdem ist er leidenschaftlicher Triathlet und nahm sogar schon bei der Deutschen Meisterschaft und der Weltmeisterschaft erfolgreich teil.
  </p>
</article>
