<% page_title 'Heimselbstverwaltung' %>
<p>
  Die Heimselbstverwaltung (kurz <abbr title="Heimselbstverwaltung">HSV</abbr>) macht das Leben im <abbr title="Hermann-Ehlers-Kolleg">HEK</abbr> so besonders. Hier kümmern sich die Studenten selber darum, dass Miteinander möglichst gut zu gestalten. Die HSV organisiert  die Zusammenarbeit mit Hausmeistern und Heimleiter, bereichert die Ausstattung des HEKs mit vielen Dingen wie Telefonanlage, Internet, Kopierer und Waschmaschinen und kümmert sich um deren Erhalt, organisiert das Zusammenleben im HEK und viele Aktionen (Feste, Barabende, Heimsport).
</p>
<p>
  Jeder Bewohner trägt somit ein bisschen zum Zusammenleben bei, in dem er sich einbringt mit dem was er kann und gerne macht. So engagieren sich viele Bewohner in Tutoriaten und als Etagensprecher und entscheiden bei Etagen und Vollversammlungen mit über wichtige Anschaffungen und Regeln im Wohnheim.
</p>
<article id="etage2">
  <section id="etagenversammlung">
    <figure>
      <img style="display: none" src="/images/heimselbstverwaltung/etagenbewohner.jpg" />
      <figcaption>22 Etagenbewohner</figcaption>
    </figure>
    <h2>Etagenversammlung</h2>
    <p>
      Die Bewohner jeder Etage treffen sich zweimal im Semester um wichtige Angelegenheiten im Etagenleben zu besprechen, wie die Verteilung von Aufgaben innerhalb der Etage, die Planung von Heimfesten und Etagen-Events oder Anschaffungen.
    </p>
  </section>
  <section id="etagensprecher">
    <figure>
      <img src="/images/heimselbstverwaltung/etagensprecher.jpg" />
      <figcaption>Je Etage ein Etagensprecher <abbr title="und">&amp;</abbr> ein Stellvertreter</figcaption>
    </figure>
    <h2>Etagensprecher</h2>
    <p>
      Die Etagensprecher und ihre Stellvertreter vertreten die Interessen ihrer Etagenbewohner beim Konvent und organisieren das Zusammenleben auf der Etage selbst.
    </p>
  </section>
</article>
<article id="heim">
  <section id="heimvollversammlung">
    <figure>
      <img style="display: none" src="/images/heimselbstverwaltung/heimbewohner.jpg" />
      <figcaption>147 Heimbewohner</figcaption>
    </figure>
    <h2>Heimvollversammlung</h2>
    <p>
      An der <abbr title="Heimvollversammlung">HVV</abbr>, welche einmal im Semester stattfindet, besprechen alle Bewohner gemeinsam wichtige Themen, wie neue Anschaffungen, Änderungen von Satzung oder Geschäftsordnung. Organisiert wird die HVV von den Heimsprechern.
    </p>
  </section>
  <section id="heimsprecher">
    <figure>
      <img src="/images/heimselbstverwaltung/heimsprecher.jpg" />
      <figcaption>Jelena <abbr title="und">&amp;</abbr> Benedikt</figcaption>
    </figure>
    <h2>Heimsprecher</h2>
    <p>
      Die Heimsprecher sind studentische Ansprechpartner bei allen Problemen im Wohnheim und organisieren Parkplatz- und Heimfest. Außerdem vertreten sie die Studenten gegenüber dem Trägerverein und nach außen und verwalten die Finanzen der HSV. Gemeinsam mit der Heimleitung und den student. Kuratoriumsmitgliedern entscheiden sie über die Aufnahme neuer Bewohner.
    </p>
  </section>
</article>
<article id="konvent">
  <figure>
    <img src="/images/heimselbstverwaltung/konvent.jpg" />
    <figcaption>Etagensprecher <abbr title="und">&amp;</abbr> Heimsprecher</figcaption>
  </figure>
  <h2>Konvent</h2>
  <p>
    Zweimal im Semester tritt der Konvent zusammen. Hier treffen sich die Etagensprecher aller Etagen mit den Heimsprechern und besprechen und entscheiden aktuelle Themen. An den Sitzungen können auch alle anderen Studenten teilnehmen und sich einbringen.
  </p>
</article>
<article id="kuratorium">
  <figure>
    <img src="/images/heimselbstverwaltung/studentische-kuratoriumsmitglieder.jpg" />
    <figcaption>Jörg <abbr title="und">&amp;</abbr> Clemens</figcaption>
  </figure>
  <h2>Studentische Kuratoriumsmitglieder</h2>
  <p>
    Die student. Kuratoriumsmitglieder beraten und unterstützen die Heimleitung und sind aktiv an der Auswahl der neuen Mitbewohner beteiligt. Einer von ihnen ist außerdem Bauausschussleiter und kümmert sich um bauliche Maßnahmen im HEK. Beide sind bei Kuratoriumssitzungen stimmberechtigt.
  </p>
</article>
<article id="verein">
  <h2>Verein</h2>
  <p>
    Rechtlich gesehen ist die HSV ein nicht rechtsfähiger Verein; offizielle Bezeichnung „Studentische Heimselbstverwaltung Hermann-Ehlers-Kolleg Karlsruhe“ Jeder Heimbewohner wird mit seinem Einzug Mitglied. Nach seinem Auszug kann er wahlweise aus dem Verein austreten oder als passives Mitglied im Verein bleiben, um z.B. weiterhin Einladungen zu Festen usw. zu erhalten. Die Organisation und Funktion der HSV können in der Satzung und Geschäftsordnung des Vereins nachgelesen werden.
  </p>
</article>
