<article id="kreuz">
  <section id="traegerverein">
    <div>
      <h2>Trägerverein</h2>
      <p>
        Der Trägerverein besteht aus 14 Menschen aus den Hochschulen, der Kirche und dem Geschäftsleben: aus Professoren, Pfarrern, Angestellten und Selbständigen. Sie arbeiten ehrenamtlich und stellen ihr Wissen, ihre Zeit und ihre Beziehungen für das HEK zur Verfügung. Der Verein trifft sich in der Regel einmal im Jahr.
      </p>
    </div>
    <p class="middle">
      Der Verein ist Mitglied des Diakonischen Werkes der Evangelischen Landeskirche in Baden e.V. Er verfolgt ausschließlich und unmittelbar gemeinnützige, mildtätige und kirchliche Zwecke. Etwaige Gewinne dürfen nur dem Heim zugutekommen. Niemand darf durch Vergütungen oder Ausgaben begünstigt werden.
    </p>
    <p class="last">
      Die geistige Grundlage des Vereins ist die christliche Nächstenliebe gemäß dem biblischen Evangelium.
    </p>
  </section>
  <section id="kuratorium">
    <div>
      <h2>Kuratorium</h2>
      <p>
        Zusätzlich zu den Sitzungen des Trägervereins finden pro Jahr zwei Versammlungen erweitert durch vier gewählte studentische Vertreter und den Heimleiter statt. Sie alle zusammen bilden das Kuratorium, das eigentliche Arbeitsgremium.
      </p>
    </div>
    <p class="middle">
      Die studentischen Vertreter bestehen aus den Heimsprechern des aktuellen Semesters, sowie zwei weiteren Studenten, die den Kontakt zum Kuratorium halten.
      In den Sitzungen werden alle aktuellen Fragen besprochen: Bautätigkeiten, Miet- und Nebenkosten, Finanzierungen, Veränderungen der Hausordnung, neue Initiativen zugunsten der Studenten usw.
    </p>
    <p class="last">
      Vorsitzender des Vereins und damit auch des Kuratoriums ist seit 2001 der Diplom-Verwaltungswirt Gerd Hurst, der neben anderen ehrenamtlichen Tätigkeiten beim paritätischen Wohlfahrtsverband auch dem HEK schon seit geraumer Zeit hilfreich zur Seite steht.
    </p>
  </section>
</article>
<article id="mitglieder">
  <ul>
    <li>
      <img src="/images/traegerverein/gerhard-hurst.jpg" alt="Gerhard Hurst" />
      <small>Vorsitzender</small>
      <h3>Gerhard Hurst</h3>
      <p>
        Gerhard Hurst ist seit 39 Jahren Mitglied im Kuratorium des HEK und seit 2005 Vorsitzender. Seine reiche Erfahrung im Bereich Verwaltung und sein Geschick im Umgang mit Menschen ist eine große Hilfe für das HEK.
      </p>
      <p class="last">
        Herr Hurst hat zwei Töchter.
      </p>
    </li>
    <li>
      <img src="/images/traegerverein/gisela-buelow-dirks.jpg" alt="Gisela Bülow-Dirks" />
      <h3>Gisela Bülow-Dirks</h3>
      <p>
        Gisela Bülow-Dirks ist seit 21 Jahren Mitglied im Kuratorium. Sie hat im öffentlichen Dienst bei der Stadt gearbeitet und dann selbstständig als rechtliche Berufsbetreuerin. Sie ist dadurch auch für Probleme von Studierenden sensibilisiert.
      </p>
    </li>
    <li>
      <img src="/images/traegerverein/gerhard-leute.jpg" alt="Dr. Gerhard Leute" />
      <h3>Dr. Gerhard Leute</h3>
      <p>
        Dr. Gerhard Leute ist öffentlich bestellter und vereidigter Sachverständiger für die Bewertung von Grundstücken und Gebäuden sowie Mieten und Pachten. Weiter hat er Lehraufträge am Karlsruher Institut für Technologie und der Verwaltungs- und Wirtschaftsakademie in Karlsruhe sowie an der Technischen Akademie in Kaiserslautern.
      </p>
      <p>
        Seit 1993 ist er ehrenamtlich tätig als Mitglied und stellvertretender Vorsitzender im Gutachterausschuss in Karlsruhe. Er ist verheiratet und hat zwei erwachsene Kinder, welche derzeit beide noch studieren. Er ist Mitglied im Vorstand des HEK sowie im Kuratorium und seit dem Mai 1992 im HEK ehrenamtlich tätig.
      </p>
    </li>
    <li>
      <img src="/images/traegerverein/katharina-ludwig.jpg" alt="Dr. Katharina Ludwig" />
      <h3>Dr. Katharina Ludwig</h3>
      <p>
        Dr. Katharina Ludwig ist seit 1995 als Rechtsanwältin in Karlsruhe in der Kanzlei Müller-Hof Rechtsanwälte tätig. Sie bietet umfassende Betreuung für Unternehmen im nationalen und internationalen Handels- und Vertragsrecht sowie im Medien- und Wettbewerbsrecht.
      </p>
      <p>
        Für das HEK arbeitet Frau Dr. Ludwig schon seit 1999. Ihre Kompetenz, ihre rasche Auffassungsgabe und ihre Empathie sind immer eine Hilfe, wenn es im HEK zu rechtlichen Problemen kommt.
      </p>
    </li>
  </ul>
</article>