<% provide :title, 'Trägerverein' %>
<article id="traegerverein">
  <div>
    <h2>Trägerverein</h2>
    <p>
      Der Trägerverein besteht aus 14 Menschen aus den Hochschulen, der Kirche und dem Geschäftsleben: aus Professoren, Pfarrern,  Angestellten und Selbständigen. Sie arbeiten ehrenamtlich und stellen ihr Wissen, ihre Zeit und ihre Beziehungen für das HEK zur Verfügung. Der Verein trifft sich in der Regel einmal im Jahr.
    </p>
  </div>
  <p class="middle">
    Der Verein ist Mitglied des Diakonischen Werkes der Evangelischen Landeskirche in Baden e.V. Er verfolgt ausschließlich und unmittelbar gemeinnützige, mildtätige und kirchliche Zwecke. Etwaige Gewinne dürfen nur dem Heim zugutekommen. Niemand darf durch Vergütungen oder Ausgaben begünstigt werden.
  </p>
  <p class="last">
    Die geistige Grundlage des Vereins ist die christliche Nächstenliebe gemäß dem biblischen Evangelium.
  </p>
</article>
<article id="kuratorium">
  <div>
    <h2>Kuratorium</h2>
    <p>
      Zusätzlich zu den Sitzungen des Trägervereins finden pro Jahr zwei Versammlungen erweitert durch vier gewählte studentische Vertreter und den Heimleiter statt. Sie alle zusammen bilden das Kuratorium, das eigentliche Arbeitsgremium.
    </p>
  </div>
  <p class="middle">
    Die studentischen Vertreter bestehen aus den Heimsprechern des aktuellen Semesters, sowie zwei weiteren Studenten, die den Kontakt zum Kuratorium halten.
    In den Sitzungen werden alle aktuellen Fragen besprochen: Bautätigkeiten, Miet- und Nebenkosten, Finanzierungen, Veränderungen der Hausordnung, neue Initiativen zugunsten der Studenten usw.
  </p>
  <p class="last">
    Vorsitzender des Vereins und damit auch des Kuratoriums ist seit 2001 der Diplom-Verwaltungswirt Gerd Hurst, der neben anderen ehrenamtlichen Tätigkeiten beim paritätischen Wohlfahrtsverband auch dem HEK schon seit geraumer Zeit hilfreich zur Seite steht.
  </p>
</article>
