<ol class="steps">
  <li>
    <a <%= 'class="errors"'.html_safe if step_has_errors? :persoenliches %>>
      <h2>Persönliches</h2>
      <small>Wie heiße ich?</small>
    </a>
  </li>
  <li>
   <a <%= 'class="errors"'.html_safe if step_has_errors? :organisatorisches %> href="#organisatorisches">
      <big>Organisatorisches</big>
      <small>Wann ziehe ich ein?</small>
    </a>
  </li>
  <li>
    <a <%= 'class="errors"'.html_safe if step_has_errors? :informationen %> href="#motivation">
      <big>Motivation</big>
      <small>Warum mich?</small>
    </a>
  </li>
  <li>
    <big>Bestätigung</big>
    <small>Alles korrekt?</small>
  </li>
  <li>
    <big>Ablauf</big>
    <small>Was jetzt?</small>
  </li>
</ol>
