<ol class="steps">
  <li class="previous">
    <a class="errors" href="#persoenliches">
      <h2>Persönliches</h2>
      <small>Wie heiße ich?</small>
    </a>
  </li>
  <li class="current">
   <a href="#organisatorisches">
      <big>Organisatorisches</big>
      <small>Wann ziehe ich ein?</small>
    </a>
  </li>
  <li>
    <a href="#motivation">
      <big>Motivation</big>
      <small>Warum mich?</small>
    </a>
  </li>
  <li>
    <big>Bestätigung</big>
    <small>Alles korrekt?</small>
  </li>
  <li>
    <big>Ablauf</big>
    <small>Was jetzt?</small>
  </li>
</ol>
