<section id="bestaetigung">
<%= render :partial => 'bewerbungen/steps', :locals => { :current => :bestaetigung } %>
  <p>
    Wir haben deine Daten erfolgreich erhalten! Und was passiert jetzt?
  </p>
  <p>
    Wir würden uns freuen, wenn du bald noch zu einem Kennenlerngespräch bei uns vorbeikommst. Such dir einen Termin zu den Sprechzeiten des <a href="/organisation/heimleiter" target="_blank">Heimleiters</a> aus und stell dich vor. Falls du nicht vorbei kommen kannst, kann es sein, dass wir dich anrufen um dich ein bisschen besser kennenzulernen.
  </p>
  <p>
    Dann musst du noch auf eine Antwort vom Heimleiter warten &#8212; bei Zusage wird ein Mietvertrag geschickt, bei einer Absage können wir leider nicht jeden informieren.
  </p>
  <p>
    Wir freuen uns, wenn du uns zusagst und den Mietvertrag unterschrieben zurückschickst.
  </p>
  <p>
    Dann musst du nur noch deinen Einzugstermin mit <a href="/organisation/hausmeister" target="_blank">Frau Knöppel</a> klären und kannst mit uns ganz viel Spaß im HEK haben!
  </p>
</section>