<article>
  <h2>Bewohner</h2>
  <ul>
  <% Bewohner.all.group_by {|bewohner| bewohner.zimmernummer.first}.each do |etage, bewohner| %>
    <li>
      <h3><%= etage %>. Etage</h3>
      <ul>
      <% bewohner.each do |bewohner| %>
        <li><%= mail_to bewohner.emailadresse, "#{bewohner.vorname} #{bewohner.nachname} )#{bewohner.zimmernummer}(".reverse, :encode => 'hex' %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</article>