<article id="maifest">
  <big>&lsaquo; 100</big>
  <small>Jahre alt sind die Besucher beim</small>
  <h2>Maifest</h2>
  <div>
    <p>
      Jedes Jahr am zweiten Samstag im Mai findet das Maifest statt, zu dem alle ehemaligen HEKler eingeladen sind. An dem Tag können alte und jetzige Bewohner coole Aktionen, wie z.B. Rallyes, Spanferkelgrillen, Abseilen vom Dach und vieles mehr, erleben und ganz nebenbei lustige Geschichten aus dem HEK austauschen.
    </p>
    <p>
      Eindrücke vom Maifest gibt es unter <a href="http://generationen.studenten-wohnheim.de">generationen.studenten-wohnheim.de</a>.
    </p>
  </div>
  <ul>
    <li><a href="#maifest1"><img src="/images/feste/maifest/maifest1.jpg" /></a></li>
    <li class="middle"><a href="#maifest2"><img src="/images/feste/maifest/maifest2.jpg" /></a></li>
    <li class="right"><a href="#maifest3"><img src="/images/feste/maifest/maifest3.jpg" /></a></li>
  </ul>
  <div class="swap-view">
    <ol>
      <li id="maifest1"><img src="/images/feste/maifest/maifest1.jpg" /></li>
      <li id="maifest2"><img src="/images/feste/maifest/maifest2.jpg" /></li>
      <li id="maifest3"><img src="/images/feste/maifest/maifest3.jpg" /></li>
      <li id="maifest4"><img src="/images/feste/maifest/maifest4.jpg" /></li>
      <li id="maifest5"><img src="/images/feste/maifest/maifest5.jpg" /></li>
    </ol>
  </div>
  <ul>
    <li><a href="#maifest4"><img src="/images/feste/maifest/maifest4.jpg" /></a></li>
    <li class="middle"><a class="more" href="http://www.hek.uni-karlsruhe.de/bilder/feste/">Mehr <small>Bilder</small></a></li>
    <li class="right"><a href="#maifest5"><img src="/images/feste/maifest/maifest5.jpg" /></a></li>
  </ul>
</article>
<article id="heimfest">
  <big>&rsaquo; 500</big>
  <small>Besucher in der Moltke-Mensa am</small>
  <h2>Heimfest</h2>
  <div>
    <p>
	   Unser Heimfest startet jedes Jahr am ersten Freitag im Dezember. Das traditionelle Heimfest wurde 2012 in der Moltke-Mensa neu aufgelegt und wenn du eine Party erleben willst, dann bist du hier genau richtig! In stylischer Atmosphäre erwarten dich Livebands, eine große Auswahl an Getränken, Essen, coole Deko und jede Menge Spaß - und das alles zu studentischen Preisen! Also sei dabei wenn das ganze HEK feiert!
    </p>
  </div>
  <ul>
    <li><a href="#heimfest1"><img src="/images/feste/heimfest/heimfest1.jpg" /></a></li>
    <li class="middle"><a href="#heimfest2"><img src="/images/feste/heimfest/heimfest2.jpg" /></a></li>
    <li class="right"><a href="#heimfest3"><img src="/images/feste/heimfest/heimfest3.jpg" /></a></li>
  </ul>
  <div class="swap-view">
    <ol>
      <li id="heimfest1"><img src="/images/feste/heimfest/heimfest1.jpg" /></li>
      <li id="heimfest2"><img src="/images/feste/heimfest/heimfest2.jpg" /></li>
      <li id="heimfest3"><img src="/images/feste/heimfest/heimfest3.jpg" /></li>
      <li id="heimfest4"><img src="/images/feste/heimfest/heimfest4.jpg" /></li>
      <li id="heimfest5"><img src="/images/feste/heimfest/heimfest5.jpg" /></li>
    </ol>
  </div>
  <ul>
    <li><a href="#heimfest4"><img src="/images/feste/heimfest/heimfest4.jpg" /></a></li>
    <li class="middle"><a class="more" href="http://www.hek.uni-karlsruhe.de/bilder/feste/">Mehr <small>Bilder</small></a></li>
    <li class="right"><a href="#heimfest5"><img src="/images/feste/heimfest/heimfest5.jpg" /></a></li>
  </ul>
</article>
<article id="parkplatzfest">
  <big>&rsaquo; 4500</big>
  <small>Besucher am Abend auf dem</small>
  <h2>Parkplatzfest</h2>
  <div>
    <p>
      Das traditionelle Parkplatzfest findet <%= Time.zone.today.year %> zum <%= Time.zone.today.year - 1979 %>. Mal statt und hat sich als DIE Studentenparty in Karlsruhe etabliert. Immer am letzten Wochenende im Juni verwandelt sich der Parkplatz vor dem HEK zu einer Open-Air-Bühne &#8212; mit fetzigen Bands, bunten Verkaufsständen von allen fünf Wohnheimen der Willy-Andreas-Allee und jeder Menge Menschen in Feierlaune!
    </p>
    <p>
      Immer das Aktuellste zum Fest gibt es auf <a href="http://parkplatzfest.net">parkplatzfest.net</a>.
    </p>
  </div>
  <ul>
    <li><a href="#parkplatzfest1"><img src="/images/feste/parkplatzfest/parkplatzfest1.jpg" /></a></li>
    <li class="middle"><a href="#parkplatzfest2"><img src="/images/feste/parkplatzfest/parkplatzfest2.jpg" /></a></li>
    <li class="right"><a href="#parkplatzfest3"><img src="/images/feste/parkplatzfest/parkplatzfest3.jpg" /></a></li>
  </ul>
  <div class="swap-view">
    <ol>
      <li id="parkplatzfest1"><img src="/images/feste/parkplatzfest/parkplatzfest1.jpg" /></li>
      <li id="parkplatzfest2"><img src="/images/feste/parkplatzfest/parkplatzfest2.jpg" /></li>
      <li id="parkplatzfest3"><img src="/images/feste/parkplatzfest/parkplatzfest3.jpg" /></li>
      <li id="parkplatzfest4"><img src="/images/feste/parkplatzfest/parkplatzfest4.jpg" /></li>
      <li id="parkplatzfest5"><img src="/images/feste/parkplatzfest/parkplatzfest5.jpg" /></li>
    </ol>
  </div>
  <ul>
    <li><a href="#parkplatzfest4"><img src="/images/feste/parkplatzfest/parkplatzfest4.jpg" /></a></li>
    <li class="middle"><a class="more" href="http://www.parkplatzfest.net/bilder.php">Mehr <small>Bilder</small></a></li>
    <li class="right"><a href="#parkplatzfest5"><img src="/images/feste/parkplatzfest/parkplatzfest5.jpg" /></a></li>
  </ul>
</article>
