<% page_title 'Leben' %>
<a href="/leben/tutoriate">
  <figure>
    <img src="/images/leben/tutoriate1.png" />
    <img src="/images/leben/tutoriate2.png" />
    <figcaption>Tutoriate</figcaption>
  </figure>
</a>
<a href="http://www.hek.uni-karlsruhe.de/bilder/">
  <figure>
    <img src="/images/leben/bilder1.png" />
    <img src="/images/leben/bilder2.png" />
    <figcaption>Bilder</figcaption>
  </figure>
</a>
<a href="/leben/treffen">
  <figure>
    <img src="/images/leben/treffen1.png" />
    <img src="/images/leben/treffen2.png" />
    <figcaption>Treffen</figcaption>
  </figure>
</a>
<a href="/leben/feste">
  <figure>
    <img src="/images/leben/feste1.png" />
    <img src="/images/leben/feste2.png" />
    <figcaption>Feste</figcaption>
  </figure>
</a>
