<% page_title 'Wöchentliche Treffen' %>
<article id="bar">
  <img class="logo" src="/images/tutoriate/hekbar.png" alt="" />
  <big>Do, 21<sup>30</sup> Uhr</big>
  <small>treffen wir uns nach einem harten Studientag in der</small>
  <h2>HEKbar</h2>
  <p>
    Immer donnerstags ab 21:30 Uhr öffnet die legendäre HEK-Bar. Gute Musik, nette Mitbewohner hinter der Theke (vielleicht auch bald du?!) und Getränke zu absolut studentenfreundlichen Preisen erwarten dich! Wechselnde Specials wie Wein- und Whiskeyproben, Shishabars oder Themenabende inklusive.
  </p>
</article>
<article id="sport">
  <img class="logo" src="/images/tutoriate/heksport.png" alt="" />
  <big>Fr, 19<sup>30</sup> Uhr</big>
  <small>toben wir uns nach zu viel Sitzen aus beim</small>
  <h2>Heimsport</h2>
  <p>
    Jeden Freitag zwischen 19:30 und 22:00 Uhr treffen sich Sportbegeisterte aus dem HEK und den benachbarten Wohnheimen zum Wohnheimsport. Abwechselnd wird in der PH-Sporthalle Fußball, Volleyball, Basketball oder Badminton gespielt.
  </p>
</article>
<article id="weck">
  <img class="logo" src="/images/tutoriate/hekweck.png" alt="" />
  <big>Sa, 10<sup>00</sup> Uhr</big>
  <small>bekommen wir frische Wecken zum Frühstück mit</small>
  <h2>HEKweck</h2>
  <p>
    HEKweck kauft Samstag morgens frische Brötchen für alle, die zuvor im Wiki bestellt haben. Es gibt keine festen Tutoren; jeder der einkaufen will kann einkaufen und jeder der bestellen will darf bestellen. Man geht dabei keinerlei Verpflichtungen ein: Niemand muss einkaufen und niemand bekommt ein Brötchenabo angedreht.
  </p>
</article>
