#bewerbung article {
  width: 960px;
  overflow: hidden;
}
#bewerbung #swap-view {
  width: 4800px;
}
#bewerbung section {
  float: left;
  width: 960px;
}
#bewerbung .steps {
  margin: 2.4em 0;
  padding-bottom: 2.3em;
  list-style: none;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
#bewerbung .steps li {
  float: left;
  margin: 0 10px;
  color: #ccc;
}
#bewerbung .steps li a {
  color: inherit;
}
#bewerbung .steps li a:hover {
  text-decoration: underline;
}
#bewerbung .steps .errors {
  color: #fbb;
}
#bewerbung .steps .previous {
  color: #aaa;
}
#bewerbung .steps .previous .errors {
  color: #d66;
}
#bewerbung .steps .current {
  color: #444;
}
#bewerbung .steps .current .errors {
  color: #c00;
}
#bewerbung .steps h2 {
  font-size: 1.6em;
  text-align: left;
}
#bewerbung .steps big {
  display: block;
  font-size: 1.6em;
}
#bewerbung .steps small {
  font-size: 1.2em;
}
#bewerbung #bestaetigung dl {
  margin-top: 2.4em;
}
#bewerbung #bestaetigung dt {
  font-size: 1.6em;
  margin-top: 1.5em;
  color: #aaa;
}
#bewerbung #bestaetigung dd {
  font-size: 1.6em;
}
#bewerbung #bestaetigung .foto {
  float: right;
  display: block;
  margin-top: 2.4em;
}
#bewerbung #bestaetigung .foto img {
  display: block;
  width: 140px;
}
#bewerbung #bestaetigung #about {
  white-space: pre-wrap;
}
#bewerbung #ablauf p {
  width: 38.75em;
  margin: 1.5em 10px;
}