#bewerbung article {
  width: 960px;
  overflow: hidden;
}
#bewerbung #swap-view {
  width: 4800px;
}
#bewerbung section {
  float: left;
  width: 960px;
}
#bewerbung .steps {
  margin: 2.4em 0;
  padding-bottom: 2.3em;
  list-style: none;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
#bewerbung .steps li {
  float: left;
  margin: 0 10px;
  color: #ccc;
}
#bewerbung .steps li a {
  color: inherit;
}
#bewerbung .steps li a:hover {
  text-decoration: underline;
}
#bewerbung .steps .errors {
  color: #fbb;
}
#bewerbung .steps .previous {
  color: #aaa;
}
#bewerbung .steps .previous .errors {
  color: #d66;
}
#bewerbung .steps .current {
  color: #444;
}
#bewerbung .steps .current .errors {
  color: #c00;
}
#bewerbung .steps h2 {
  margin: 0;
  font-size: 1.6em;
  text-align: left;
}
#bewerbung .steps big {
  display: block;
  font-size: 1.6em;
}
#bewerbung .steps small {
  font-size: 1.2em;
}
#bewerbung #bestaetigung p {
  width: 38.75em;
  margin: 1.5em 10px;
}

#bewerbung h2 {
  margin: 1em 0;
}
#bewerbung table {
  width: 940px;
  margin: 2.4em auto;
  border-collapse: collapse;
  text-align: left;
}
#bewerbung th {
  font-size: 1.6em;
  font-weight: normal;
  color: #444;
  padding: 10px 8px;
  border-bottom: 2px solid #ccc;
  white-space: nowrap;
}
#bewerbung th a {
  color: #444;
}
#bewerbung th a:hover {
  border-bottom: 1px solid;
}
#bewerbung #filter th {
  font-size: 1em;
}
#bewerbung #filter select, #bewerbung #filter input {
  width: 100%;
  margin: 0;
}
#bewerbung #filter label {
  display: inline
}
#bewerbung #filter input[type="checkbox"] {
  width: auto;
  vertical-align: middle;
}
#bewerbung td {
  font-size: 1.6em;
  border-bottom: 1px solid #ccc;
  color: #444;
  padding: 0.5em;
  vertical-align: top;
}
#bewerbung tbody tr:hover td {
  color: #222;
}
#bewerbung tbody .thumb img {
  display: block;
  border: 1px solid #fff;
  background-color: #ccc;
}
#bewerbung tbody .thumb a:hover img {
  border: 1px solid #444;
}
#bewerbung tbody .thumb, #bewerbung tbody .thumb img {
  width: 48px;
  height: 48px;
}
#bewerbung tbody .motivation {
  position: absolute;
  left: 0;
  margin-left: 74px;
  margin-top: 24px;
  border-bottom: none;
  white-space: nowrap;
}

#bewerbung #detailed .postit {
  width: 412px;
  overflow: hidden;
}
#bewerbung #detailed #dateien {
  float: right;
  width: 140px;
  text-align: center;
}
#bewerbung #detailed #foto {
  float: right;
  border: 2px solid #222;
  margin-bottom: 1.2em;
}
#bewerbung #detailed #foto img {
  display: block;
  width: 3cm;
}
#bewerbung #detailed dl {
  margin: 2.4em 1em;
}
#bewerbung #detailed dt {
  float: left;
  clear: left;
  width: 220px;
  text-align: right;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #aaa;
  margin-right: 20px;
}
#bewerbung #detailed dd {
  font-size: 1.6em;
  margin-left: 240px;
}
#bewerbung #detailed a[href^="mailto:"] {
  unicode-bidi: normal;
  direction: ltr;
}
#bewerbung #detailed p {
  margin: 24px 10px;
}
#bewerbung #detailed section {
  float: none;
}
#bewerbung #detailed #studium, #bewerbung #detailed #vorstellung {
  float: left;
  width: 480px;
}
#bewerbung #detailed #vorstellung p {
  text-align: center;
}
#bewerbung #detailed #motivation {
  clear: both;
  width: 640px;
  padding: 0 150px;
  padding-top: 2.3em;
  margin: 2.4em auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#bewerbung #detailed #motivation p {
  margin-bottom: 23px;
}
#bewerbung #detailed #motivation p {
  white-space: pre-wrap;
}
#bewerbung #detailed #bewertung, #bewerbung #detailed #kommentare {
  width: 480px;
  margin: 2.4em auto;
  margin-bottom: 2.3em;
  border-bottom: 1px solid #ccc;
}
#bewerbung #detailed #kommentare ol {
  list-style: none;
  margin: 0;
  margin-top: 2.4em;
}
#bewerbung #detailed #kommentare li {
  margin: 0 1em;
  margin-bottom: 2.4em;
}
#bewerbung #detailed #kommentare p {
  margin: 0.75em 0;
  margin-bottom: 0;
}
#bewerbung #detailed #kommentare cite {
  font-size: 1.2em;
  font-style: italic;
}
#bewerbung #detailed #kommentare .destroy {
  font-size: 1.2em;
  color: #d14836;
}
#bewerbung #detailed #kommentare .destroy:hover {
  text-decoration: underline;
}
#bewerbung #detailed #kommentare form {
  margin-bottom: 2.4em;
  text-align: right;
}
#bewerbung #detailed #bewertung .ui-rating {
  width: 80px;
  height: 24px;
  margin: 2.4em auto;
  overflow: hidden;
}
#bewerbung #detailed #bewertung dd {
  display: block;
  margin-left: 240px;
}
#bewerbung #detailed nav {
  width: 360px;
  margin: 0 auto;
}
#bewerbung #detailed .zusagen {
  float: left;
  margin-bottom: 2.4em;
}
#bewerbung #detailed .zusagen input, #bewerbung #detailed .absagen input {
  padding: 4px;
  border: none;
  color: #fff;
  border: 1px solid transparent;
}
#bewerbung #detailed .zusagen input {
  background-color: #3d9400;
}
#bewerbung #detailed .zusagen input:hover {
  border: 1px solid #2d6200;
}
#bewerbung #detailed .absagen {
  float: right;
  margin-bottom: 2.4em;
}
#bewerbung #detailed .absagen input {
  background-color: #d14836;
}
#bewerbung #detailed .absagen input:hover {
  border: 1px solid #b0281a;
}
#bewerbung #detailed input[disabled] {
  background-color: #ccc;
  cursor: default;
}
#bewerbung #detailed input[disabled]:hover {
  border-color: transparent;
}
#bewerbung #detailed .zurueck {
  clear: both;
  display: block;
  margin: 0 auto;
  font-size: 1.6em;
  text-align: center;
}
#bewerbung #detailed .zurueck:hover {
  text-decoration: underline;
}

/* rating bars */
#bewerbung .bewertungen {
  position: relative;
  margin: 0px;
  width: 80px;
  height: 24px;
}
#bewerbung .bewertungen li {
  float: left;
  display: block;
  width: 15px;
  height: 24px;
  margin-right: 1px;
  overflow: hidden;
}
#bewerbung .bewertungen li div {
  height: 4px;
  margin-top: 1px;
}
#bewerbung .bewertung-5 .bar {
  background-color: #ff4000;
}
#bewerbung .bewertung-4 .bar {
  background-color: #ff8000;
}
#bewerbung .bewertung-3 .bar {
  background-color: #ffbf00;
}
#bewerbung .bewertung-2 .bar {
  background-color: #00a2ff;
}
#bewerbung .bewertung-1 .bar {
  background-color: #00f;
}
#bewerbung .bewertungen .gesamtbewertung {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 78px;
  border-top: 1px solid #ddd;
  background-color: #eee;
  z-index: -1;
}

/* rating stars */
.ui-rating {
  width: 80px;
}
.ui-rating .ui-rating-star, .ui-rating .ui-rating-cancel{
    width:16px;
    height:16px;
    font-size:2px;
    float:left;
    text-decoration:none;
    vertical-align:bottom;
    background-image:url(/images/star.gif);
    background-repeat:no-repeat;
}
.ui-rating a {
  cursor: pointer;
}
.ui-rating a[title='0'] {
  display: none;
}
.ui-rating-full  {
    background-position:left top;
}
.ui-rating-half  {
    background-position:left -16px;
}
.ui-rating-empty {
    background-position:left -32px;
}
.ui-rating-cancel-empty {
    background-position:left -64px;
}
.ui-rating-cancel-full {
    background-position:left -80px;
}
.ui-rating-hover {
    background-position:left -48px;
}
