#bewerbung article {
  width: 960px;
  overflow: hidden;
}
#bewerbung #swap-view {
  width: 4800px;
}
#bewerbung section {
  float: left;
  width: 960px;
}
#bewerbung .steps {
  margin: 2.4em 0;
  padding-bottom: 2.3em;
  list-style: none;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
#bewerbung .steps li {
  float: left;
  margin: 0 10px;
  color: #ccc;
}
#bewerbung .steps li a {
  color: inherit;
}
#bewerbung .steps li a:hover {
  text-decoration: underline;
}
#bewerbung .steps .errors {
  color: #fbb;
}
#bewerbung .steps .previous {
  color: #aaa;
}
#bewerbung .steps .previous .errors {
  color: #d66;
}
#bewerbung .steps .current {
  color: #444;
}
#bewerbung .steps .current .errors {
  color: #c00;
}
#bewerbung .steps h2 {
  font-size: 1.6em;
  text-align: left;
}
#bewerbung .steps big {
  display: block;
  font-size: 1.6em;
}
#bewerbung .steps small {
  font-size: 1.2em;
}
#bewerbung #bestaetigung dl {
  margin-top: 2.4em;
}
#bewerbung #bestaetigung dt {
  font-size: 1.6em;
  margin-top: 1.5em;
  color: #aaa;
}
#bewerbung #bestaetigung dd {
  font-size: 1.6em;
}
#bewerbung #bestaetigung .foto {
  float: right;
  display: block;
  margin-top: 2.4em;
}
#bewerbung #bestaetigung .foto img {
  display: block;
  width: 140px;
}
#bewerbung #bestaetigung #about {
  white-space: pre-wrap;
}
#bewerbung #ablauf p {
  width: 38.75em;
  margin: 1.5em 10px;
}

#bewerbung h2 {
  margin: 1em 0;
}
#bewerbung table {
  width: 940px;
  margin: 2.4em auto;
  border-collapse: collapse;
  text-align: left;
}
#bewerbung th {
  font-size: 1.6em;
  font-weight: normal;
  color: #444;
  padding: 10px 8px;
  border-bottom: 2px solid #ccc;
  white-space: nowrap;
}
#bewerbung th a {
  color: #444;
}
#bewerbung th a:hover {
  border-bottom: 1px solid;
}
#bewerbung td {
  font-size: 1.6em;
  border-bottom: 1px solid #ccc;
  color: #444;
  padding: 0.5em;
  vertical-align: middle;
}
#bewerbung tbody tr:hover td {
  color: #222;
}
#bewerbung .thumb {
  width: 48px;
  height: 48px;
}
#bewerbung #filter th {
  font-size: 1em;
}
#bewerbung #filter select, #bewerbung #filter input {
  width: 100%;
  margin: 0;
}

.ui-rating .ui-rating-star, .ui-rating .ui-rating-cancel{
    width:16px;
    height:16px;
    font-size:2px;
    float:left;
    text-decoration:none;
    vertical-align:bottom;
    background-image:url(/images/star.gif);
    background-repeat:no-repeat;
}
.ui-rating a {
  cursor: pointer;
}
.ui-rating-full  {
    background-position:left top;
}
.ui-rating-half  {
    background-position:left -16px;
}
.ui-rating-empty {
    background-position:left -32px;
}
.ui-rating-cancel-empty {
    background-position:left -64px;
}
.ui-rating-cancel-full {
    background-position:left -80px;
}
.ui-rating-hover {
    background-position:left -48px;
}