<article>
  <h1>Studentenwohnheim Hermann-Ehlers-Kolleg</h1>
  <section id="evangelisches">
    <a href="/wohnheim">
      <h2>
        <img src="/images/startseite/evangelisches.jpg" alt="Evangelisches" />
        <span>… Studentenwohnheim.</span>
      </h2>
      <p>
        Aber du musst nicht evangelisch sein, um hier zu wohnen.
      </p>
    </a>
  </section>
  <section id="zusammen-leben">
    <a href="/leben">
      <h2>
        <img src="/images/startseite/zusammen-leben.jpg" alt="Zusammen leben" />
        <span>… und gemeinsam anpacken.</span>
      </h2>
      <p>
        Wie jeder weiß, ist alleine auf dem Zimmer sitzen out.
      </p>
    </a>
  </section>
  <section id="gestalten">
    <a href="/organisation">
      <h2>
        <img src="/images/startseite/gestalten.jpg" alt="Gestalten" />
        <span>… und das in Eigenregie.</span>
      </h2>
      <p>
        Wir sind <strong>selbstverwaltet</strong>, das heißt wir machen unsere Regeln selbst.
      </p>
    </a>
  </section>
</article>
