<p>
  Die <a href="/organisation/heimselbstverwaltung">Heimselbstverwaltung</a> (kurz <abbr title="Heimselbstverwaltung">HSV</abbr>) macht das Leben im <abbr title="Hermann-Ehlers-Kolleg">HEK</abbr> so besonders. Hier kümmern wir uns selber darum, das Miteinander möglichst gut zu gestalten. Die HSV organisiert die Zusammenarbeit mit <a href="/organisation/hausmeister">Hausmeistern</a> und <a href="/organisation/heimleiter">Heimleiter</a>, bereichert die <a href="/wohnheim/gemeinschaftsraeume">Ausstattung</a> des HEKs mit vielen Dingen wie Telefonanlage, Internet, Kopierer und Waschmaschinen und organisiert das <a href="/leben">Zusammenleben</a> im HEK mit vielen Aktionen (Feste, Barabende, Heimsport).
</p>
<p>
  Jeder Bewohner trägt somit ein bisschen zum Zusammenleben bei, in dem er sich einbringt mit dem was er kann und gerne macht. So engagieren sich viele Bewohner in <a href="/leben/tutoriate">Tutoriaten</a> und als <a href="/organisation/heimselbstverwaltung#etagensprecher">Etagen- bzw. Heimsprecher</a> und entscheiden bei <a href="/organisation/heimselbstverwaltung#etagenversammlung">Etagen- und Vollversammlungen</a> mit über wichtige Anschaffungen und Regeln im Wohnheim.
</p>
<p>
  Ihnen zur Seite steht dabei der <a href="/organisation/traegerverein">Trägerverein</a>, eine Gruppe von Menschen, die sich ehrenamtlich um das HEK kümmern.
</p>
<article id="kuratorium">
  <a href="/organisation/traegerverein">
    <h2>Kuratorium</h2>
    <section id="traegerverein">
      <h3>Trägerverein</h3>
      <div class="people">
        <img src="/images/organisation/herr-hurst.jpg" />
        <small>Vorsitzender</small>
        <div>Herr Hurst</div>
      </div>
      <div class="people">
        <img src="/images/organisation/herr-zilly.jpg" />
        <small>Heimleiter</small>
        <div>Herr Zilly</div>
      </div>
      <small>12 weitere Mitglieder</small>
    </section>
    <section id="studentische-vertreter">
      <h3>Studentische Vertreter</h3>
      <div class="people">
        <img src="/images/organisation/studentische-vertreter.jpg" />
        <small>Heimbewohner</small>
        <ul>
          <li>Jörg</li>
          <li>Clemens</li>
        </ul>
      </div>
      <div class="people">
        <img src="/images/organisation/heimsprecher.jpg" />
        <small>Heimsprecher</small>
        <ul>
          <li>Dominik</li>
          <li>Sabrina</li>
        </ul>
      </div>
    </section>
  </a>
  <aside>
    Trifft sich einmal im Semester und trifft Entscheidungen über das Heim (z.B. Mieten, Baumaßnahmen).
  </aside>
</article>
<article id="konvent">
  <a href="/organisation/heimselbstverwaltung#konvent">
    <h2>Konvent</h2>
    <div id="etagensprecher-und-stellvertreter" class="people">
      <img src="/images/organisation/etagensprecher.jpg" />
      <small>Etagensprecher <abbr title="und">&amp;</abbr> Stellvertreter</small>
    </div>
    <div id="heimsprecher" class="people">
      <img src="/images/organisation/heimsprecher.jpg" />
      <small>Heimsprecher</small>
      <ul>
        <li>Dominik</li>
        <li>Sabrina</li>
      </ul>
    </div>
  </a>
  <aside>
    Findet zweimal im Semester statt, dabei entscheiden und besprechen gewählte Vertreter aktuelle studentische Belange.
  </aside>
</article>
<article id="etagen-und-heimversammlung">
  <section>
    <a href="/organisation/heimselbstverwaltung#etagenversammlung">
      <h2>Etagenversammlung</h2>
      <div id="etagenbewohner" class="people">
        <img style="background-color: #222" src="/images/organisation/etagenbewohner.jpg" />
        <small>22 Etagenbewohner</small>
      </div>
    </a>
  </section>
  <section>
    <a href="/organisation/heimselbstverwaltung#heimvollversammlung">
      <h2>Heimvollversammlung</h2>
      <div id="heimbewohner" class="people">
        <img style="background-color: #222" src="/images/organisation/heimvollversammlung.jpg" />
        <small>147 Heimbewohner</small>
      </div>
    </a>
  </section>
  <aside>
    Grundlage aller studentischen Entscheidungen; alle Bewohner sind stimm-berechtigt bei der Wahl studentischer Vertreter und Abstimmung über studentische Anschaffungen.
  </aside>
</article>
<article style="display: none">
  <div class="people">
    <small>Frau Knöppel</small>
    <img src="/images/" />
  </div>
  <div class="people">
    <small>Frau Opp</small>
    <img src="/images/" />
  </div>
  <div class="people">
    <small>Herr Knöppel</small>
    <img src="/images/" />
  </div>
  <aside>
    Kümmern sich um den praktischen Teil des Wohnens, wie Sauberkeit, Ein- und Auszüge, Zimmerrenovierungen und Reparaturen.
  </aside>
</article>
