<footer itemscope itemtype="http://schema.org/Organization">
  <div class="container">
    <a id="logo" href="/"><img src="/images/hek-logo.png" alt="Logo des Hermann-Ehlers-Kolleg" itemprop="image" /></a>
    <nav>
      <a href="http://www.hek.uni-karlsruhe.de/bilder/">Bilder</a>
      <a href="http://www.hek.uni-karlsruhe.de/hekwiki/">Wiki</a>
      <a href="/impressum">Impressum</a>
    </nav>
    <div id="anschrift">
      <ol itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <li itemprop="name">Hermann-Ehlers-Kolleg</li>
        <li itemprop="streetAddress">Willy-Andreas-Allee 1</li>
        <li><span itemprop="postalCode">76131</span> <span itemprop="addressLocality">Karlsruhe</span></li>
      </ol>
      <a href="mailto:%6c%65%69%74%75%6e%67%40%68%65%6b%2e%75%6e%69%2d%6b%61%72%6c%73%72%75%68%65%2e%64%65" itemprop="email">ed&#46;ehurslrak-inu&#46;keh&#64;gnutiel</a>
    </div>
  </div>
</footer>