<footer itemscope itemtype="http://schema.org/Organization">
  <div class="container">
    <a id="logo" href="/"><img src="/images/hek-logo.png" alt="Logo des Hermann-Ehlers-Kolleg" itemprop="image" /></a>
    <nav>
      <a href="http://www.hek.uni-karlsruhe.de/bilder/">Bilder</a>
      <a href="http://www.hek.uni-karlsruhe.de/hekwiki/">Wiki</a>
      <a href="/impressum">Impressum</a>
    </nav>
    <div id="anschrift">
      <ol itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <li itemprop="name">Hermann-Ehlers-Kolleg</li>
        <li itemprop="streetAddress">Willy-Andreas-Allee 1</li>
        <li><span itemprop="postalCode">76131</span> <span itemprop="addressLocality">Karlsruhe</span></li>
      </ol>
      <%= mail_to 'leitung@hek.uni-karlsruhe.de', 'leitung@hek.uni-karlsruhe.de'.reverse, :encode => 'hex', :itemprop => 'email' %>
    </div>
  </div>
</footer>