    <header>
      <nav>
        <ul role="navigation">
  <li class="wohnheim">
    <h6><a href="/wohnheim">Wohnheim</a></h6>
    <ul>
      <li><a href="/wohnheim/bewohnerzimmer">Bewohnerzimmer</a></li>
      <li><a href="/wohnheim/etagen">Etagen</a></li>
      <li><a href="/wohnheim/gemeinschaftsraeume">Gemeinschaftsräume</a></li>
    </ul>
    <ul>
      <li><a href="/wohnheim/lage">Lage</a></li>
      <li><a href="/wohnheim/geschichte">Geschichte</a></li>
      <li><a href="/wohnheim/hermann-ehlers">Hermann Ehlers</a></li>
    </ul>
  </li>
  <li class="leben">
    <h6><a href="/leben">Leben</a></h6>
    <ul>
      <li><a href="/leben/tutoriate">Tutoriate</a></li>
      <li><a href="/leben/feste">Feste</a></li>
      <li><a href="/leben/treffen">Treffen</a></li>
    </ul>
  </li>
  <li class="organisation">
    <h6><a href="/organisation">Organisation</a></h6>
    <ul>
      <li><a href="/organisation/heimleiter">Heimleiter</a></li>
      <li><a href="/organisation/traegerverein">Trägerverein</a></li>
    </ul>
    <ul>
      <li><a href="/organisation/heimselbstverwaltung">Heimselbstverwaltung</a></li>
      <li><a href="/organisation/hausmeister">Hausmeister</a></li>
    </ul>
  </li>
  <li class="bewerbung-und-kontakt">
    <h6><a href="/">Startseite</a></h6>
    <ul>
      <li><a href="/bewerbung">Bewerbung</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </li>
        </ul>
      </nav>
    </header>
