<header>
  <nav>
    <%= render :partial => 'layouts/navigation' %>
  </nav>
<% if %w[gemeinschaftsraeume lage].include? site_id %>
  <span id="show-navigation">Navigation ausklappen</span>
<% end %>
</header>